# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# env variables for the dev environment
dev/env

# the actual binary
vault-secret-broker
# Used during the multi stage docker build job
# as a build context.
# See .dockerignore and https://github.com/GoogleContainerTools/kaniko/issues/595
build/